name: Prod Container App Build & Deploy

# When this action will be executed
on: 
  push:
    branches: [ "main" ]
  #pull_request:
    #branches: [ "main" ]
  workflow_run:
    workflows: ["Container App Build & Deploy in Test Environment"]
    branches: [main]
    types: 
      - completed
  workflow_dispatch:

defaults:
  run:
    working-directory: api

jobs:
  ACR-PROD-Build:
    runs-on: ubuntu-latest
    env:
      URI: ${{ secrets.URI }}
      KEY: ${{ secrets.KEY }}
      APPINSIGHTS_INSTRUMENTATIONKEY: ${{ secrets.APPINSIGHTS_INSTRUMENTATIONKEY }}
      
    steps:
    - name: Checkout to the branch
      uses: actions/checkout@v2
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to container registry
      uses: docker/login-action@v1
      with:
         registry: fxpeupaccd02cr.azurecr.io
         username: ${{ secrets.PROD_REGISTRY_USERNAME }}
         password: ${{ secrets.PROD_REGISTRY_PASSWORD }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
          push: true
          tags: fxpeupaccd02cr.azurecr.io/fx-p-eu-paccd-02-ca:${{ github.sha }}
          file: ./api/Dockerfile
          context: ./api
    
  deploy:
    runs-on: ubuntu-latest
    needs: ACR-PROD-Build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.FXPEUPACCD02CA_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n fx-p-eu-paccd-02-ca -g fx-p-eu-paccd-02-rg --server fxpeupaccd02cr.azurecr.io --username  ${{ secrets.FXPEUPACCD02CA_REGISTRY_USERNAME }} --password ${{ secrets.FXPEUPACCD02CA_REGISTRY_PASSWORD }}
            az containerapp update -n fx-p-eu-paccd-02-ca -g fx-p-eu-paccd-02-rg --image fxpeupaccd02cr.azurecr.io/fx-p-eu-paccd-02-ca:${{ github.sha }}
